body {
    background: linear-gradient(45deg, rgb(255, 255, 0) 40%, rgb(0, 255, 81));
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.container {
    /* margin: auto; */
}

.test {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20vh;
    height: 40px;
    width: 90vw;
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    outline: none;
}

.report{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.speed-box, .words-box, .time-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    border: 5px solid rgb(6, 249, 2);
    border-radius: 75px;
}

.speed, .words, .time{
    display: flex;
    /* color: yellow; */
    /* font-weight: bolder; */
    /* justify-content: center; */
    /* height: 100vh; */
}

#speed, #words, #time{
    font-size: 2.75rem;
    color: yellow;
}